@media (max-width: 1200px) {
    .container {
        padding: 0 15px;
    }
}

@media (max-width: 992px) {
    .story_col {
        width: 100%;
        padding: 0;
    }
    .story_title {
        margin-bottom: 58px;
    }
    .story_heading {
        margin-bottom: 10px;
    }
    .story_content {
        margin-bottom: 50px;
        padding: 0 15px;
    }
    .about_col {
        padding: 0 15px;
    }
    .footer_company {
        max-width: 50%;
        margin-right: 0;
    }
    .footer_menu {
        width: 50%;
        margin-right: 0;
    }
    .footer_list {
        justify-content: flex-end;
    }
    .footer_menu_title {
        display: none;
    }
    .footer_contacts {
        margin-top: 25px;
    }
    .footer_info {
        max-width: 100%;
    }
    .footer_info-item {
        margin-bottom: 5px;
    }
    .footer_company_title {
        margin-bottom: 15px;
    }
    .footer_text {
        margin-top: 5px;
    }
}

@media (max-width: 765px) {
    .hero_title {
        margin: 0 30px;
    }
    .header_menu-item {
        margin-left: 15px;
    }
    .story_content {
        margin-bottom: 30px;
    }
    .story_title {
        margin-bottom: 28px;
    }
    .about_col {
        width: 100%;
        margin-bottom: 20px;
    }
    .about_col:last-of-type {
        margin-bottom: 0;
    }
    .capabilities_col {
        width: 100%;
    }
    .capabilities_title {
        margin-bottom: 10px;
    }
    .capabilities_bottom-col {
        flex-direction: column;
    }
    .capabilities_info {
        margin: 10px 0 20px;
        padding: 0;
    }
    .capabilities_bottom-wrapper {
        margin-top: 58px;
    }
    .capabilities_bottom-wrapper_col {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .capabilities_bottom-wrapper_col:last-of-type {
        margin-bottom: 0;
    }
    .capabilities_btn {
        max-width: 150px;
        margin: 0 auto;
    }
    .newsletter {
        padding: 20px 0;
    }
    .newsletter_wrapper {
        flex-direction: column;
        align-items: center;
    }
    .newsletter_caption {
        margin-bottom: 10px;
    }
    .footer_list-item {
        margin-right: 20px;
    }
    .footer_contacts-title {
        margin-bottom: 10px;
    }
    .footer_contacts {
        width: 100%;
    }
    .footer_contacts_wrapper {
        justify-content: space-between;
        width: 100%;
    }
    .footer_info {
        margin-right: 0;
    }
}

@media (max-width: 520px) {
    .footer_company {
        max-width: 100%;
    }
    .footer_menu {
        width: 100%;
        margin-top: 25px;
    }
    .footer_list {
        justify-content: flex-start;
    }
    .footer_list-item {
        margin-right: 40px;
    }
    .footer_contacts_wrapper {
        flex-direction: column;
    }
    .footer_icons {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .hero_title {
        margin: 0 15px;
        font-size: 48px;
        line-height: 60px;
    }
    .hero_desc {
        margin: 0 15px;
    }

    .header {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 5;
    }
    .header_menu {
        display: none;
    }
    .header_menu-item {
        margin-left: 0;
    }
    .story {
        padding: 37px 0;
    }
    .get-in-touch_title {
        font-size: 26px;
    }
    .newsletter_form_input {
        width: 200px;
    }
    .newsletter_btn {
        min-width: 100px;
    }
    .copyright_content {
        font-size: 9px;
    }

    .header_wrapper {
        justify-content: flex-end;
    }

    .header_wrapper-burger {
        position: relative;
    }

    .header_burger {
        display: block;
        width: 26px;
        height: 18px;
        z-index: 6;
        margin-top: 21px;
        position: absolute;
        left: 15px;
        top: 0
    }

    .header_burger span {
        position: absolute;
        background-color: #00A4E5;
        border-radius: 1px;
        left: 0;
        width: 100%;
        height: 2px;
        top: 8px;
        -webkit-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s
    }

    .header_burger.active {
        position: fixed;
    }

    .header_burger.active:before {
        transform: rotate(45deg);
        top: 8px;
        background-color: white;
    }

    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 8px;
        background-color: white;
    }

    .header_burger.active span {
        transform: scale(0)
    }

    .header_burger:after, .header_burger:before {
        content: "";
        background-color: #00A4E5;
        border-radius: 1px;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s
    }

    .header_burger:before {
        top: 0
    }

    .header_burger:after {
        bottom: 0
    }

    .header_wrapper-burger {
        position: fixed;
        top: 0;
        left: -100%;
        width: 40%;
        max-width: 40%;
        height: 60%;
        background-color: #141A20;
        margin: 0;
        z-index: 5;
        padding: 70px 10px 0 0;
        -webkit-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
        overflow: auto;
        box-shadow: 0 0 5px 0 #545252;
    }

    .header_menu{
        display: none;
    }

    .header_menu.active {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: flex-end;
        position: relative;

    }

    .header_wrapper-burger.active {
        left: 0;
    }

    .header_menu-item {
        font-size: 15px;
        color: white;
        padding: 12px 15px;
    }
}